<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Jaro_BibleTeacher>
            <version>0.0.5</version>
        </Jaro_BibleTeacher>
    </modules>
    <global>
        <resources>
        </resources>
        <helpers>
            <jaro_bibleteacher>
                <class>Jaro_BibleTeacher_Helper</class>
            </jaro_bibleteacher>
        </helpers>
        <models>
            <jaro_bibleteacher>
                <class>Jaro_BibleTeacher_Model</class>
                <resourceModel>jaro_bibleteacher_mysql4</resourceModel>
            </jaro_bibleteacher>
            <jaro_bibleteacher_mysql4>
                <class>Jaro_BibleTeacher_Model_Mysql4</class>
                <entities>
                    <verses>
                        <table>bibleteacher_verses</table>
                    </verses>
                    <teachings>
                        <table>bibleteacher_verse_teachings</table>
                    </teachings>
                    <types>
                        <table>bibleteacher_verse_types</table>
                    </types>
                    <translations>
                        <table>bibleteacher_verse_translations</table>
                    </translations>
                    <numberings>
                        <table>bibleteacher_verse_numberings</table>
                    </numberings>
                    <bible>
                        <table>bibleteacher_bible</table>
                    </bible>
                </entities>
            </jaro_bibleteacher_mysql4>
        </models>

        <resources>
            <jaro_bibleteacher_setup>
                <setup>
                    <module>Jaro_BibleTeacher</module>
                </setup>
            </jaro_bibleteacher_setup>
        </resources>

        <blocks>
            <jaro_bibleteacher>
                <class>Jaro_BibleTeacher_Block</class>
            </jaro_bibleteacher>
        </blocks>

        <events>
            <on_teachings_after_save_action>
                <observers>
                    <jaro_bibleteacher>
                        <class>Jaro_BibleTeacher_Model_Observer</class>
                        <method>onEventAfterSaveAction</method>
                    </jaro_bibleteacher>
                </observers>
            </on_teachings_after_save_action>
        </events>
    </global>
    <crontab>
        <jobs>
            <cronexample_crontest>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>jaro_bibleteacher/cron::correctFiles</model>
                </run>
            </cronexample_crontest>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <jaro_bibleteacher>
                <use>standard</use>
                <args>
                    <module>Jaro_BibleTeacher</module>
                    <frontName>bible_teacher</frontName>
                </args>
            </jaro_bibleteacher>
        </routers>
        <layout>
            <updates>
                <jaro_bibleteacher module="Jaro_BibleTeacher">
                    <file>jaro/bibleteacher.xml</file>
                </jaro_bibleteacher>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Jaro_BibleTeacher>
                    <files>
                        <default>Jaro_BibleTeacher.csv</default>
                    </files>
                </Jaro_BibleTeacher>
            </modules>
        </translate>
        <layout>
            <updates>
                <jaro_bibleteacher>
                    <file>jaro_bibleteacher.xml</file>
                </jaro_bibleteacher>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <jaro_bible_teacher>
                <use>admin</use>
                <args>
                    <module>Jaro_BibleTeacher</module>
                    <frontName>jaro_bible_teacher</frontName>
                </args>
            </jaro_bible_teacher>
        </routers>
    </admin>
    <default>
        <bible>
            <settings>
                <cgi_offline>0</cgi_offline>
                <cgi_numbers>/o</cgi_numbers>
                <cgi_translation>tbw</cgi_translation>
            </settings>
        </bible>
        <default>
            <plaintable_general>
                <navigation>
                    <navigation_routers>a:3:{s:18:"_1571982790353_353";a:4:{s:4:"name";s:5:"Admin";s:4:"path";s:5:"admin";s:5:"order";s:3:"130";s:11:"auth_status";s:1:"0";}s:18:"_1571982799438_438";a:4:{s:4:"name";s:4:"News";s:4:"path";s:17:"task_1/news/index";s:5:"order";s:3:"110";s:11:"auth_status";s:1:"1";}s:18:"_1573224008443_443";a:4:{s:4:"name";s:9:"Favourite";s:4:"path";s:29:"bible_teacher/favourite/index";s:5:"order";s:3:"120";s:11:"auth_status";s:1:"1";}}</navigation_routers>
                </navigation>
            </plaintable_general>
        </default>
    </default>
</config>
